rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /whitelist/{document} {
      allow read, write;
    }
  }
}
